<!DOCTYPE html>
<html lang="en">
<% pageTitle= user.username + "'s "; %>
<%- include('inc/head') %>
<body>
  <%- include('inc/header') %>

  <main>
    <h2>Dashboard for <%= user.username %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </main>

  <%- include('inc/footer') %>
</body>
</html>
