<!DOCTYPE html>
<html lang="en">
<% pageTitle="Home"; %>
<%- include('inc/head') %>
<body>
  <%- include('inc/header') %>

  <main>
    <h2>Register a new account</h2>
    <p>Or sign in above.</p>

    <% errors.forEach(error => { %>
    <p class="notice"><%= error %></p>
    <% }) %>

    <form action="/register" method="POST" id="register-form" name="register-form">
      <fieldset>
        <legend>Create an account</legend>
        <label for="username" name="lbl-username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password" name="lbl-password">Password</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" id="submit" name="submit"></input>
      </fieldset>
    </form>
  </main>

  <%- include('inc/footer') %>
</body>
</html>
