<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage | Our Wonderful App</title>
  <!-- Minified version -->
  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <header>
    <h1><a href="/">Our Wonderful App</a></h1>

    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
    </nav>
  </header>

  <main>
    <h2>Main section</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi iure, sunt voluptatibus eligendi corrupti totam ut id fugiat reiciendis quaerat magnam consequuntur, at beatae! Ipsam repudiandae blanditiis laborum delectus fugit.</p>
  </main>

  <footer>
    <div>&copy; OWA</div>
  </footer>
</body>
</html>
