<!DOCTYPE html>
<html lang="en">
<% pageTitle="Login"; %>
<%- include('inc/head') %>
<body>
  <%- include('inc/header') %>

  <main>
    <h2>Login</h2>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username">

      <label for="password">Password</label>
      <input type="password">
      <br>
      <input type="submit">
    </form>
  </main>

  <%- include('inc/footer') %>
</body>
</html>
