<!DOCTYPE html>
<html lang="en">
<% pageTitle="Login"; %>
<%- include('inc/head') %>
<body>
  <%- include('inc/header') %>

  <main>
    <h2>Login</h2>

    <% errors.forEach(error => { %>
    <p class="notice"><%= error %></p>
    <% }) %>

    <form action="/login" method="POST" id="login-form" name="login-form">
      <fieldset>
        <legend>Log in to your account</legend>
        <label for="username" name="lbl-username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password" name="lbl-password">Password</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" id="submit" name="submit" />
      </fieldset>
    </form>
  </main>

  <%- include('inc/footer') %>
</body>
</html>
