<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Our Wonderful App</title>
  <!-- Minified version -->
  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <header>
    <h1><a href="/">Our Wonderful App</a></h1>

    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
    </nav>
  </header>

  <main>
    <h2>Login</h2>
    <form action="">
      <label for="username">Username</label>
      <input type="text" id="username">

      <label for="password">Password</label>
      <input type="password">
    </form>
  </main>

  <footer>
    <div>&copy; OWA</div>
  </footer>
</body>
</html>
